@media (min-width: 768px) {
    .tablet-adapt--display {
        display: inline;
    }
    .header__mobile {
        padding: 0 24px;
    }
    .header__image:nth-child(4){
        margin-left: auto;
    }
    .header__line-vertical--styles {
        margin-left: 12px;
    }
    .nav {
        padding-left: 24px;
    }
    .main {
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
    }
    .title__check{
        padding: 24px 24px;
        padding-bottom: 32px;
    }
    .section-about {
        padding: 24px 24px;
        padding-top: 32px;
        padding-bottom: 0;
    }
    .section-about__more {
        padding-top: 10px;
    }
    .section-img {
        padding-left: 40px;
        padding-right: 25px;
        padding-top: 32px;
        padding-bottom: 0;
    }
    .section-img__mask {
        position: relative;
        border-radius: 6px;
        width: 360px;
        height: 208px;
        overflow: hidden;
    }
    .section-img__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 1120px) {
    .header__mobile--display {
        display: none;
    }
    .desktop-adapt--display {
        display: inline;
    }
    .title__check {
        display: flex;
        padding: 0 32px;
        padding-top: 42px;
        padding-bottom: 10px;
    }
    .title__header-desktop {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .title__header-desktop-text {
        font-size: 16px;
        line-height: 24px;
        font-family: 'TT Lakes Medium';
        margin-right: 9px;
    }
    .title__header-desktop-img {
        margin-right: 32px;
    }
    .title__header-desktop-img:last-child {
        margin-right: 0;
    }
    .nav {
        padding-left: 32px;
    }
    .nav__gradient--opacity{
        display: none;
    }
    .nav__buttons {
        overflow: visible;
        display: flex;
        flex-wrap: wrap;
    }
    .nav__button-text{
        padding: 8px 21px;
    }
    .section-about {
        padding: 16px 32px;
        padding-right: 36px;
    }
    .section-img {
        padding-left: 36px;
        padding-right: 28px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .section-img__mask {
        width: 531px;
        height: 307px;
    }
}